* {
  margin: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Roboto', sans-serif;
  background: rgba(255, 255, 255, 0.282);
  
}
h1 {
  margin: 16px;
}
h2 {
  margin: 16px;
}

.container {
  margin-top: 450px;
  padding: 32px;
}
.select-box {
  display: flex;
  width: 400px;
  text-align: center;
}

.select-box .mode-container {
  background: #0c293ad9;
  color: azure;
  /* max-height: 0;
  opacity: 0; */
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
}


.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box .option:hover {
  background-color: rgb(60, 11, 11);
}
.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}