* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  

}


.btn-container {
  margin-top: 100px;
  padding: 32px;
}
.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.select-box .mode-container {
  background: #4c7e727d;
  color: rgb(255, 140, 0);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s; 
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}
.select-box .modes,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box label {
  cursor: pointer;
}
.select-box .modes:hover {
  background:rgba(108, 192, 103, 0.511)
}
.select-box .modes .radio {
  display: none;
}

.select-box .mode-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}
.select-box .mode-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}
.select-box .mode-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 0;
}
.select-box .mode-container::-webkit-scrollbar-thumb {
  background-color: #414b57;
  border-radius: 0 8px 8px 0;
}

.selected {
  background: rgba(61, 196, 178, 0.297);
  border-radius: 8px;
  margin-bottom: 8px;
  color: rgb(23, 26, 28);
  position: relative;
  order: 0;
}
.selected::after {
  content: "";
  background: url("/img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}
