* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 4px;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: left;
  align-items: left;
  background: linear-gradient(#e66465, #9198e5);
}
h1 {
  text-align: center;
}


.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
#normal {
  width:300px;
  height: 50px;
  border: none;
  color: white;

  background: rgba(158, 20, 20, 0.875);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out .3s;
  outline: none;
}
#normal:hover{
  box-shadow: inset 300px 0 0 0 #f9e506;
  color: black;
}

#javascript {
  width:300px;
  height: 50px;
  border: none;
  color: white;

  background: rgba(158, 20, 20, 0.875);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out .3s;
  outline: none;
}
#javascript:hover{
  box-shadow: inset 300px 0 0 0 #f9e506;
  color: black;
}

#python {
  width:300px;
  height: 50px;
  border: none;
  color: white;

  background: rgba(158, 20, 20, 0.875);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out .3s;
  outline: none;
}
#python:hover{
  box-shadow: inset 300px 0 0 0 #f9e506;
  color: black;
}


.question-container {
  display: grid;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

h2 {
  text-align: center;
}





.scoring-container {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 50%;
  font-family: 'Oswald', sans-serif;
  color: #ccc;
  text-shadow: 1px 1px 5px black;
}
#score-title {
  transform-style: preserve-3d;
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-500%) translateX(700%);

}
#score {
  transform-style: preserve-3d;
  font-size:90px;
  line-height: 90px;
  transform: translateY(-100%) translateX(1800%);
}


.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 1440px;
}

#question-board {
  display: grid;
  background: #e66465;
  width: 200%;
  font-size: 12px;
}

.mode-container {

}



